.about-us {
  &__title {
    margin: 0;
    flex: 1;
  }

  &__text {
    flex: 1;
  }

  &__container {
    background-color: #fcfaef;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 48px 20px;
    margin-inline: -20px;

    @include on-tablet {
      flex-direction: row;
      padding: 120px 72px;
      margin-inline: -72px;
    }

    @include on-desktop {
      gap: 111px;
      margin-inline: -120px;
    }
  }

  &__mplayer-img {
    background-image: url('/src/img/media-player-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 15%;
    height: 200px;
    margin-inline: -20px;

    @include on-tablet {
      height: 400px;
      background-position: 0 35%;
      margin-inline: -72px;
    }

    @include on-desktop {
      height: 460px;
      background-position: 0 65%;
      margin-inline: -120px;
    }
  }
}
