.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 32px;
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 36px;
    }
  }

  &__logo {
    height: 16px;

    @include on-tablet {
      height: 24px;
    }

    @include hover(transform, scale(1.2));
  }

  &__logo-link {
    display: flex;
  }
}

.header {
  background-image: url('/src/img/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 64px;
    }
  }

  &__title {
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 56px;
    }
  }
}
