:root {
  font-family: Manrope, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1b2129;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  pointer-events: all;
  opacity: 1;
}

.header {
  height: 100vh;
  padding: 24px 20px 40px;
  box-sizing: border-box;
  background-image: url('/src/img/header-bg-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.header__title {
  margin: 0;
  color: white;
  font-style: Bold;
  font-size: 36px;
  line-height: 100%;
}

.menu {
  height: 100vh;
  padding: 24px 20px 40px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.menu__bottom {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.icon {
  width: 24px;
  height: 24px;
  display: block;
}

.icon--phone {
  background-image: url('/src/img/icons/icon-phone.png');
}

.icon--burgermenu {
  background-image: url('/src/img/icons/icon-burgermenu.png');
}

.icon--closemenu {
  background-image: url('/src/img/icons/close-menu.png');
  width: 16px;
  height: 16px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.menu__phone-number {
  text-decoration: none;
  color: inherit;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
}

.menu__call-to-order {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  width: fit-content;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 2px;
  padding-bottom: 6px;
  border-bottom: 1px solid #1b2129;
}
